header {
    text-align: center;
    color: white;
    background-image: linear-gradient(to right, rgb(27, 88, 255) , rgb(36, 13, 119));
}

form input,button {
    width: 100%;
}

.green {
    background-color: rgb(0, 107, 32);
    padding: 2px;
    border-radius: 2px;
}

.yellow {
    background-color: rgb(224, 240, 0);
    padding: 2px;
    border-radius: 2px;
}

.red {
    background-color: rgb(161, 0, 0);
    padding: 2px;
    border-radius: 2px;
}

#current {
    display: inline;
}